{% load static %}

<div id="miniSidebar">
  <div class="brand-logo">
    <a class="d-none d-md-flex align-items-center gap-2" href="{% url 'admin_app:librarian_dashboard' %}">
      <img src="{% static 'assets/images/brand/logo/logo-icon.svg' %}" alt="SmartShelf" />
      <span class="fw-bold fs-4 site-logo-text">SmartShelf</span>
    </a>
  </div>
  <ul class="navbar-nav flex-column">
    <li class="nav-item">
      <div class="nav-heading">Library Administration</div>
      <hr class="mx-5 nav-line mb-1" />
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:librarian_dashboard' %}"><span class="nav-icon"><i class="ti ti-layout-dashboard"></i></span><span class="text">Dashboard</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:manage_books' %}"><span class="nav-icon"><i class="ti ti-book"></i></span><span class="text">Manage Books</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:book_create' %}"><span class="nav-icon"><i class="ti ti-book-upload"></i></span><span class="text">Add Book</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:manage_fines' %}"><span class="nav-icon"><i class="ti ti-cash"></i></span><span class="text">Fines</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:reports' %}"><span class="nav-icon"><i class="ti ti-chart-bar"></i></span><span class="text">Reports</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:monitor_users' %}"><span class="nav-icon"><i class="ti ti-users"></i></span><span class="text">Users</span></a></li>
  </ul>
</div>

<div class="offcanvasNav offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <a class="d-flex align-items-center gap-2" href="{% url 'admin_app:librarian_dashboard' %}">
      <img src="{% static 'assets/images/brand/logo/logo-icon.svg' %}" alt="SmartShelf" />
      <span class="fw-bold fs-4 site-logo-text">SmartShelf</span>
    </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <div class="nav-heading">Library Administration</div>
        <hr class="mx-5 nav-line mb-1" />
      </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:librarian_dashboard' %}"><span class="nav-icon"><i class="ti ti-layout-dashboard"></i></span><span class="text">Dashboard</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:manage_books' %}"><span class="nav-icon"><i class="ti ti-book"></i></span><span class="text">Manage Books</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:book_create' %}"><span class="nav-icon"><i class="ti ti-book-upload"></i></span><span class="text">Add Book</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:manage_fines' %}"><span class="nav-icon"><i class="ti ti-cash"></i></span><span class="text">Fines</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:reports' %}"><span class="nav-icon"><i class="ti ti-chart-bar"></i></span><span class="text">Reports</span></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_app:monitor_users' %}"><span class="nav-icon"><i class="ti ti-users"></i></span><span class="text">Users</span></a></li>
    </ul>
  </div>
</div>